
.header{
    background: #f9fafa;
    height: 60px;
    text-align: center;
    font-family: "Yu Gothic Light";
    font-size: 30px;
}
.main{
    top: 50px;
    background: #f9fafa;
    margin-top: 3px;
    font-size: 14px;
    height: 600px;
}
.button_div{
    text-align: center;
    background: #f9fafa;
    width:30%;
    height: 60px;
}
.add_button{
    background-color: #f9fafa;
    width: 80%;
    height: 80%;
    margin-top: 6px;
    color: #3e4747;
    text-align: center;
    font-size: 16px;
}

.notes{
    overflow: scroll;
    top: 10px;
    left: 150px;
    background: #f9fafa;
    float: left;
    width: 30%;
    height: 500px;
}
div.note_preview{
    background: #ebecec;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}
div.note_preview:hover{
    opacity: 0.5;

}

.main_part{
    margin-top: 0;
    float: right;
    width: 70%;
    height: 560px;
    background: #f9fafa;

}
.main_date{
    height: 40px;
    width: available;
}
.my_title{
    resize: none;
    background: #f9fafa;
    width: 300px;
}
.Your_note{
    resize: none;
    background: #f9fafa;
    width: 90%;
    height: 450px;
    overflow: visible;
}
.save_button{
    background-color: #ebecec;
    color: white;
    text-align: center;
    font-size: 16px;
}
.delete_button{
    background-color: #ebecec;
    color: white;
    text-align: center;
    font-size: 16px;
}
